/* Override global settings */
html body {
    /* Main background image, can be changed to any URL */
    --ic-brand-watermark: url(https://raw.githubusercontent.com/wdc756/StarCanvas/refs/heads/main/images/Blue-Pink-Swirl.jpg);

    /* Override BC dark mode hex values to rgba values to allow transparency */
    --bcbackground-0: rgba(0, 0, 0, 0.1);
    --bcbackground-1: rgba(0, 0, 0, 0.25);
    --bcbackground-2: rgba(0, 0, 0, 0.5);

    /* Override BC styles to add transparency */
    --bcborders: rgba(0, 0, 0, 0);
    --bcsidebar: rgba(0, 0, 0, 0);

    /* Override BC text colors to fix readability */
    --bctext-0: rgba(255, 255, 255, 1);
    --bctext-1: rgba(225, 225, 225, 1);
    --bctext-2: rgba(200, 200, 200, 1);

    /* Custom BC dark text colors, used in a few cases where the default BC text colors are too light */
    --bctextdark-0: rgba(0, 0, 0, 1);
    --bctextdark-1: rgba(25, 25, 25, 1);
    --bctextdark-2: rgba(50, 50, 50, 1);
}



/* Hide scrollbars for webkit browsers */
::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbars for Firefox */
html {
    scrollbar-width: none;
}



/* Apply background image with scaling */
.ic-app {
    min-height: 100vh !important;
    width: 100% !important;

    background-image: var(--ic-brand-watermark) !important;

    /* Scale image so it covers entire viewport (no letterboxing) */
    background-size: cover !important;

    /* Center so cropping is even */
    background-position: center center !important;

    /* No repeat */
    background-repeat: no-repeat !important;

    /* Keep fixed during scroll */
    background-attachment: fixed !important;
}



/* Completely removed elements:
    #ajas-search-widget: removed because BC already adds a search bar, so this was redundant
    #header.ic-app-header.no-print: removed because BC made a new side bar
    .css-1sf4yox-progressCircle__border: removed because the extra border didn't look good - assignments progress circle
*/
#ajas-search-widget, #header.ic-app-header.no-print, .css-1sf4yox-progressCircle__border {
    display: none !important;
}



/* Scaling fixes */

/* Fix main content displays (text/images on edges of containers) */
#content > div:not(#calendar_header, #calendar-app) {
    padding: 10px !important;
}
div[data-testid="assignment-2-student-content-tabs"] {
    margin-bottom: 75px !important;
}
div[as="footer"] {
    margin: 5px !important;
}



/* Apply transparency to all elements by default
    not(.ic-DashboardCard__header_hero): because the color cards are nice
*/
#application *:not(.ic-DashboardCard__header_hero) {
    /* Transparent background */
    background: rgba(0, 0, 0, 0) !important;

    /* Remove background image */
    background-image: none !important;
}
/* Dark colored elements:

*/
{
    fill: var(--bctextdark-0) !important;
    color: var(--bctextdark-0) !important;
}
{
    stroke: var(--bctextdark-0) !important;
}
/* Light colored elements:
    .css-8bodfv-text: Text under each course in courses sidebar menu (and other places)
    .css-1f1uqiq-progressCircle__track: Progress circle bar for assignments
*/
.css-8bodfv-text, #tinymce *, .css-12pcvam-view--inlineBlock-baseButton * {
    fill: var(--bctext-0) !important;
    color: var(--bctext-0) !important;
}
.css-1f1uqiq-progressCircle__track {
    stroke: var(--bctext-0) !important;
}


/* Remove effects from elements - to allow blur:

*/
{
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
}



/* Apply blur to elements (taxing):
    #right-side: Most right sidebar elements - note this groups all items in the right sidebar
    .fc-day-grid-event: Calendar events - here because we already blur the main calendar background
*/
#right-side, .fc-day-grid-event {
    background: rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(8px) !important;
    -webkit-backdrop-filter: blur(8px) !important;
}
/* Stronger blur for elements with text/on top of other elements (VERY TAXING):
    #content > div: Applies blur to most elements
        not(#dashboard.ic-dashboard-app): Excludes dashboard area so cards aren't double blurred
        not(.ic-Action-header: Excludes): headers that don't do anything? - courses page
        not(#calendar-drag-and-drop-container): Another header that doesn't need to be seen
        table: Include all tables
    .transition--slide-left-entered: Left slide-in menu (courses popout, etc)
    .ic-DashboardCard__box__container > div: Dashboard class cards
    .event-details: Menu popup/context windows
    #sticky-container: Course navigation sidebar
    .ic-app-crumbs: Course header breadcrumbs
    .icon-hamburger: Course navigation sidebar toggle button
    .ic-Dashboard-header__layout: Dashboard header
*/
#content > div:not(#dashboard.ic-dashboard-app, .ic-Action-header, #calendar-drag-and-drop-container), #content > table,
.ic-DashboardCard__box__container > div, .transition--slide-left-entered, .event-details, #sticky-container,
.ic-app-crumbs, .icon-hamburger, .ic-Dashboard-header__layout {
    background: rgba(0, 0, 0, 0.25) !important;
    backdrop-filter: blur(16px) !important;
    -webkit-backdrop-filter: blur(16px) !important;
}
/* Add frosted glass boarder to elements */
#content > div:not(#dashboard.ic-dashboard-app, .ic-Action-header, #calendar-drag-and-drop-container), #content > table,
.ic-DashboardCard__box__container > div, .transition--slide-left-entered, .event-details, #sticky-container,
.ic-app-crumbs, .icon-hamburger, .ic-Dashboard-header__layout,

#right-side {
    border: 1px solid rgba(255, 255, 255, 0.15) !important;
}
/* Add rounded corners to elements */
.event-details, #sticky-container, .ic-app-crumbs,

.fc-day-grid-event, .fc-day-grid-container, .fc-event-container {
    border-radius: 12px !important;
}
/* Add super rounded corners to elements */
#content > div:not(#dashboard.ic-dashboard-app, .ic-Action-header, #calendar-drag-and-drop-container), #content > table,
.ic-DashboardCard__box__container > div, .transition--slide-left-entered, .ic-Dashboard-header__layout,

#right-side {
    border-radius: 24px !important;
}
/* Add tiny rounded corners to elements */
.icon-hamburger {
    border-radius: 4px !important;
}